@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    font-family: roboto;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 80px;
}

.nav-link {
    display: flex;
    gap: 20px;
}

.subheader {
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    justify-content: center;
}
.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-main {
    color: white;
    font-weight: 700;
    font-size: 48px;
}

.hero-sub {
    color: white;
    font-size: 18px;
}

.signup {
    color: white;
    padding: 8px;
    background-color: #3882F6;
    width: 80px;
    text-align: center;
    border-radius: 25px;
}

.subheader-image {
    width: 1000px;
    height: 250px;
    background-color: gold;
    margin-left: 40px;
}